<div class="message-input">
  <%= form_for(@message, remote: true) do |f| %>
    <%= f.text_area :content, rows: 1, columns: 10, class:'msger-input'%>
    <%= f.submit 'Send', class:'msger-send-btn'  %>
  <% end %>
</div>
