<div class='container-message' id='test'>

<div class="message-wr">

  <div class = 'message-window'>
    <div class = messages>
      <%= render 'messages' %>
    </div>
    <div class = 'form'>
      <%= render 'message_form' %>
    </div>

  </div>

</div>

</div>

